[submodule "ollama-webui"]
	path = ollama-webui
	url = https://github.com/ollama-webui/ollama-webui
[submodule "whisper-asr-webservice"]
	path = whisper-asr-webservice
	url = https://github.com/ahmetoner/whisper-asr-webservice
[submodule "noetic-llama/src/pal_msgs"]
	path = noetic-llama/src/pal_msgs
	url = git@github.com:pal-robotics/pal_msgs.git
[submodule "LCASTOR"]
	path = LCASTOR
	url = git@github.com:LCAS/LCASTOR.git
	branch = chatbot_demo
